.edit-section {
    background-color: rgb(244, 243, 243);;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px);
}
.work-canvas {
    display: block;
    background-size: cover;
}
.canvas-off {
    display: none;
}