.file-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
.file-label {
    font-size: 1em;
    font-weight: 700;
    color: #babab9;
    border: 3px solid #07d3cc;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
    text-align: center;
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 3;
}
.file-input:focus + label,
.file-input + label:hover {
    background-color: #07d3cc;
    color: white;
}
.pick-image-item {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pick-image-item .topbottom,
.pick-image-item .leftright
{
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
}
.pick-image-item .leftright:after
{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    top:0;
    right:2px;
    height:100%;
    width:2px;
    background-image: linear-gradient(to top, #b9b9b8 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 2px 30px;
    background-repeat: repeat-y;
}
.pick-image-item .leftright:before
{
    content:'';
    position:absolute;
    bottom:0;
    top:0;
    right:0px;
    height:100%;
    width:2px;
    background-image: linear-gradient(to top, #b9b9b8 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 2px 30px;
    background-repeat: repeat-y;
}
.pick-image-item .topbottom:before
{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:2px;
    width:100%;
    background-image: linear-gradient(to right, #b9b9b8 50%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 30px 2px;
    background-repeat: repeat-x;
}
.pick-image-item .topbottom:after
{
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:2px;
    width:100%;
    background-image: linear-gradient(to right, #b9b9b8 50%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 30px 2px;
    background-repeat: repeat-x;
}