// basic
html, body,#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    height: 100% !important;
    width: 100% !important;
    // overflow: hidden;
    overflow-x: hidden;
    background-color: #EFF4ED;
    // rgba(247,250,252,1)
}

::-webkit-scrollbar,.p-scrollpanel-bar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb,.p-scrollpanel-bar {
  background-color: $blue !important;
  opacity: 1 !important;
  transition: background-color .2s !important;
  border-radius: 15px;
  height: 20px;
  cursor: inherit;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $blue !important;
}

//Custom Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
